{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'style.css' %}"/>
	<title>TYTUŁ</title>
</head>
<h1>Strona tytułowa!</h1>
<body>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisi neque, ullamcorper ut tempor euismod, molestie ut urna. Nullam sit amet ipsum molestie, tincidunt orci sed, porttitor libero. Morbi et tincidunt lacus, eget mollis lorem. Donec leo odio, sollicitudin ut nisi nec, rhoncus euismod dolor. In non eros laoreet, aliquet magna vitae, pretium orci. Donec ut dui auctor, mollis augue at, vestibulum risus. Sed sed elit pulvinar, sollicitudin risus id, scelerisque purus. Integer sit amet mi pulvinar, faucibus metus ut, accumsan odio. Morbi a dolor venenatis nunc tempor mollis. Nunc faucibus vestibulum suscipit. Aliquam erat volutpat. Sed vel nunc purus. Curabitur metus neque, dapibus nec auctor et, sodales ac nunc. Vivamus a arcu justo.</p>

<p>Phasellus luctus, enim id ultricies ornare, nibh tortor luctus nisi, ac blandit enim odio eget est. Vestibulum sed sollicitudin massa. Suspendisse dapibus nunc vitae facilisis imperdiet. Nam consequat varius pretium. Sed sed leo sagittis, aliquet quam quis, laoreet purus. Praesent efficitur venenatis magna, a tristique magna suscipit id. Donec eu elit in dolor posuere interdum non iaculis orci. </p>
</body>
</html>
{% endblock content %}
