{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
	<head><title>LISTA</title>
	<link rel="stylesheet" type="text/css" href="{% static 'ch3-pages-app/style.css' %}"/>
	</head>
    <body>
	<h1>Lista!</h1>
	<p>
        Vestibulum ut laoreet lorem. Praesent et dui quis tellus vestibulum dignissim. Donec at efficitur diam, et mollis urna. Nulla venenatis ut nisl quis commodo. Sed pellentesque sem non libero sagittis, nec vestibulum sapien gravida. Aliquam aliquet, arcu at lobortis lacinia, lectus mi iaculis nulla, et vehicula arcu erat vel ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse consectetur hendrerit lacus in ullamcorper. Curabitur elementum hendrerit commodo.
	</p>
	<p>
	<ul>
		<li>Vestibulum ante ipsum primis in faucibus orci luctus</li>
		<li>et ultrices posuere cubilia Curae; Sed lacinia</li> <li>tincidunt dolor, et imperdiet neque lacinia</li> 
	</ul>
	</p>
    </body>
</html>
{% endblock content %}
